.btn-primary,.btn-danger, a{
    width: 150px;
}

.btn-success{
   font-size: 10px;
   width: 80px;     
}

li, .btn-primary,.btn-danger,a{
    font-size: 15px;
}

.container{
    height: 800px;
}

.panel{
    width: 480px;
    margin-left: 100px;
}

th,td{
    width: 800px;
    font-size: 15px;
    text-align: center;
}

#couponField{
    width: 100px;
    margin-right: 10px;
    font-size: 12px;
}

alert{
    margin-bottom: 10px;
}