body {
    margin-top: 20px;  
    font-size: 18px;
  }
  
  * {
    box-sizing: border-box;
  }
  
  img {
    vertical-align: middle;
  }
  
  /* Position the image container (needed to position the left and right arrows) */
  .container {
    position: relative;
  }

  .container-fluid{
    margin-top: 20px;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Add a pointer when hovering over the thumbnail images */
  .cursor {
    cursor: pointer;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  /* Container for image text */
  .caption-container {
    text-align: center;
    background-color: #222;
    padding: 2px 16px;
    color: white;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Six columns side by side */
  .column {
    float: left;
    width: 16.66%;
  }
  
  /* Add a transparency effect for thumnbail images */
  .demo {
    opacity: 0.6;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 2px;  /* Rounded border */
    width: 150px; /* Set a small width */
    height: 90px;
  }
  
  .active,
  .demo:hover {
    opacity: 1;
  }
  
  .slideshow{
    border-radius: 12px; 
    height: 540px;
  }
  
  .size{
    width: 120px;
    font-size: 16px;
    }
  
    
  .size1{
    width: 60px;
    font-size: 16px;
    }
  
    .price{
      font-size: 21px;
      color: grey;
      text-align: center;
    }
  
    .buttonn{
      margin-top: 20px;
    display: flex;
    justify-content: center;
    }
    
  
    
    /* ********* */
    /* comments */
  
    .comment {
      border: 2px solid #ccc;
      background-color:lightblue;
      border-radius: 5px;
      padding: 16px;
      margin: 16px;
      width: auto;
    }
    
    .container::after {
      content: "";
      clear: both;
      display: table;
    }
    
    .container img {
      float: left;
      margin-right: 20px;
      border-radius: 50%;
    }
    
    .container span {
      font-size: 20px;
      margin-right: 15px;
    }
    
    @media (max-width: 500px) {
      .container {
          text-align: center;
      }
      .container img {
          margin: auto;
          float: none;
          display: block;
      }
    }
  
    .panel{
      overflow: auto;
      max-height: 650px;
    }
