li {
    display: inline-block;
    font-size: 15px;
    list-style-type: none;
    padding: 5px;
  }
  
  li span {
    display: block;
    font-size: 4.5rem;
  }

  ul{
      padding: 0 10px;
  }

.cart{
  
  position: sticky;
  top: 150px;  
  z-index:1;
  }

  .timer{
    top: 10px;
  }