<html>

<head>
    <title>Purple Orchid | Contact Us</title>
</head>

<body>
    <div class="container" style="padding-bottom: 40px;">
        <div class="row">
            <div class="col-xs-10">
                <h3>LIVE SUPPORT</h3><br>
                <h4>24 hours | 7 days a week | 365 days a year Live Technical Support</h4>
                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. It has survived not only five centuries, but also the
                    leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s
                    with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop
                    publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
            </div>
            <div class="col-xs-2" style="margin-top: 20px">
                <div style="text-align: center;">
                    <img src="/assets/contactus.png" width="150px" height="150px">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8">
                <h3>CONTACT US</h3>
                <form>
                    <div class="form-group">
                        <p><strong>Name</strong></p>
                        <input class="form-control" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <p><strong>Email</strong></p>
                        <input type="email" class="form-control" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <p><strong>Message</strong></p>
                        <textarea class="form-control" rows="3" id="comment" style="resize:none; overflow-y:scroll"
                            placeholder="Type your query"></textarea>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary btn-sm" style="width: 10%">Submit </button>
                    </div>
                </form>
            </div>
            <div class="col-xs-4">
                <h3>Company Information</h3>
                <p>9314 Annadale Lane <br>
                    <br>Marshfield, WI 54449<br>
                    <br>USA<br><br>Phone: (000)-221144553<br>
                    <br>Mail us at: info@purpleorchid.in
                </p>
            </div>
        </div>
    </div>
</body>

</html>